<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_image"> 
                        <img 
                        src="images/profile.png" 
                        width=" 156px" 
                        height="142px"
                        alt="">
                    </div>
                    <div class="left_title"><%=user.name%></div>
                    <div class="left_par"> <%=user.profession%></div>
                    <div class="left-icons"> 
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Facebook.svg" class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Instagram.svg" class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Twitter.svg "  class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Linkeding.svg" class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Youtube.svg" class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Dribbble.svg"  class="icon_1">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_container">
                        <div class="left_age">Age:</div>
                        <p class="left_num"><%=user.age%></p>
                    </div>
                    <div class="left_container">
                        <div class="left_residence">Residance:</div>
                        <p class="left_resi"><%=user.residence%></p>
                    </div>
                    <div class="left_container">
                        <div class="left_freelance">Freelance:</div>
                        <p class="left_status">Available</p>
                    </div>
                    <div class="left_container">
                        <div class="left_address">Address:</div>
                        <p class="left_add"><%=user.address%></p>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="left_language">
                        <h1 class="left_languages">Languages</h1>
                    </div>
                    <div class="lan_main">
                        <div class="lang1"><%=user.languages[0]%></div>
                        <p class="left_percentage">100%</p>
                    </div>
                    <div class="marginer1">
                        <div class="per_marginer"></div>
                    </div>
                    <div class="lan_main">
                        <div class="lang1"><%=user.languages[1]%></div>
                        <p class="left_percentage">80%</p>
                    </div>
                    <div class="marginer2">
                        <div class="per_marginer2"></div>
                    </div>
                    <!-- <div class="marginer3"></div> -->
                    <div class="lan_main">
                        <div class="lang1"><%=user.languages[2]%></div>
                        <p class="left_percentage">60%</p>
                    </div>
                    <div class="marginer3">
                        <div class="per_marginer3"></div>
                    </div>
                    <!-- <div class="marginer3"></div> -->
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="skills">Skills</div>
                    <div class="html_box">
                        <div class="html"><%=user.skills[0]%></div>
                        <div class="left_percentage">90%</div>
                    </div>
                    <div class="html_marginer">
                        <div class="html-in-marginer"></div>
                    </div>
                    <div class="css_box">
                        <div class="html"><%=user.skills[1]%></div>
                        <div class="left_percentage">85%</div>
                    </div>
                    <div class="css_marginer">
                        <div class="css-in-marginer"></div>
                    </div>
                    <div class="javascript_box">
                        <div class="html"><%=user.skills[2]%></div>
                        <div class="left_percentage">80%</div>
                    </div>
                    <div class="js_marginer">
                        <div class="js-in-marginer"></div>
                    </div>
                    <div class="nodejs_box">
                        <div class="html"><%=user.skills[3]%></div>
                        <div class="left_percentage">75%</div>
                    </div>
                    <div class="node_marginer">
                        <div class="node-in-marginer"></div>
                    </div>
                    <div class="python_box">
                        <div class="html"><%=user.skills[4]%></div>
                        <div class="left_percentage">85%</div>
                    </div>
                    <div class="python_marginer">
                        <div class="python-in-marginer"></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div class="left_extra">Extra Skills</div>
                    <div class="extra_container">
                        <div class="extra-1">
                            <img src="images/Icons.png" alt="">
                            <div class="skills-1"><%=user.extra_skills[0]%></div>
                        </div>
                        <div class="extra-1">
                            <img src="images/Icons.png" alt="">
                            <div class="skills-1"><%=user.extra_skills[1]%></div>
                        </div>
                        <div class="extra-1">
                            <img src="images/Icons.png" alt="">
                            <div class="skills-1"><%=user.extra_skills[2]%></div>
                        </div>
                        <div class="extra-1">
                            <img src="images/Icons.png" alt="">
                            <div class="skills-1"><%=user.extra_skills[3]%></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="midd_frame">
                <div class="midd_top">
                    <img class="midd_yellow" src="icon/kok.svg" alt="">
                    <img class="midd_green" src="icon/yashil.svg" alt="">
                    <img class="midd_green2" src="icon/yashil.svg" alt="">
                    <img class="midd_yellow2" src="icon/sariq1.svg" alt="">
                    <img class="midd_blue" src="icon/kok2.svg" alt="">
                    <img class="midd_blue2" src="icon/kok.svg" alt="">
                    <img class="midd_red" src="icon/qizil1.svg" alt="">
                    <div class="midd_left">
                        <p class="midd_title">Doctor neurologistsin OHSU Hospital </p>
                            <p class="midd_parag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                            <button class="midd_btn">HIRE ME -></button>
                    </div>
                    <div class="midd_right">
                        <img src="images/Steve.png" alt="">
                    </div>
                </div>
                <div class="midd_down">
                    <div class="down_up">
                        <p class="midd_service">My Services</p>
                        <p class="midd_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
                    </div>
                    <div class="midd_bottom">
                        <div class="develop">
                            <img src="icon/icon1.svg" alt="">
                            <p class="web_development">Web development</p>
                            <p> Blog, E-Commerce</p> 
                        </div>
                        <div class="develop">
                            <img src="icon/icon2.svg" alt="">
                            <p class="web_development">UI/UX Design</p>
                            <p> Mobile app, Website Design</p> 
                        </div>
                        <div class="develop">
                            <img src="icon/icon3.svg" alt="">
                            <p class="web_development">Sound Design</p>
                            <p> Voice over, Beat Making</p> 
                        </div>
                        <div class="develop">
                            <img src="icon/icon4.svg" alt="">
                            <p class="web_development">Game Design</p>
                            <p>Character Design, Props & Objects</p> 
                        </div>
                        <div class="develop">
                            <img src="icon/icon5.svg" alt="">
                            <p class="web_development">Photography</p>
                            <p> Portrait, Product Photography </p> 
                        </div>
                        <div class="develop">
                            <p class="web_development1">Advertising</p>
                            <p class="advertise">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p> 
                            <a class="right_order" href=""> ORDER NOW -></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_frame">
                <img class="right_moon" src="icon/moon.svg" alt="">
                <img class="right_menu" src="icon/Menu.svg" alt="">
            </div>
        </div>
    </div>
</body>
</html>